@tailwind base;
@tailwind components;
@tailwind utilities;

.spectrum {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0,1) 0%,
    rgba(255, 159, 0,1) 14.28%,
    rgba(248, 255, 0,1) 28.86%,
    rgba(0, 255, 45,1) 42.84%,
    rgba(0, 189, 255,1) 57.12%,
    rgba(154, 0, 255,1) 71.4%,
    rgba(255, 0, 187,1) 85.68%,
    rgba(255, 0, 0,1) 100%
  );
}


#main {
  -webkit-app-region: drag;
}

#closer {
  -webkit-app-region: no-drag;
}
